* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-color: #64d390 rgb(224, 249, 188);
  scroll-behavior: smooth;
  font-family: "Space Grotesk", sans-serif;
}

:root {
  --GREEN: #b9ff66;
  --DARK: #191a23;
  --GRAY: #f3f3f3;
}

.container {
  max-width: 1240px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.apply-bg-green {
  background-color: var(--GREEN);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  border: none;
  background-color: var(--DARK);
  border-radius: 10px;
  padding: 20px 35px;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.btn:hover {
  background-color: var(--GREEN);
  color: var(--DARK);
}

/* header  */

header {
  padding: 10px 0;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 70px;
}

header .logo {
  display: flex;
  gap: 8px;
  align-items: center;
}

header nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0;
  margin: 0;
}

header nav ul li a {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
  padding: 8px 10px;
  border-radius: 8px;
}

header nav ul li a:hover {
  color: var(--DARK);
  background-color: var(--GREEN);
}

header nav ul li button {
  border: 1px solid var(--DARK);
  background-color: transparent;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 20px;
}

header nav li button:hover {
  background-color: var(--DARK);
  color: #fff;
}

/* about_us  */

#about_us {
  padding: 80px 0 70px;
  display: grid;
}

#about_us figure img {
  width: 100%;
  max-width: 520px;
  margin: auto;
}

#about_us h1 {
  font-family: "Space Grotesk";
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

#about_us p {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  padding: 35px 0;
  text-align: center;
}

#about_us:nth-child(1) {
  max-width: 680px;
  margin: auto;
}
#about_us #consultationBtn {
  margin: auto;
  display: block;
}

#figure_img {
  padding-top: 50px;
}

@media screen and (max-width: 480px) {
  #about_us p,
  #about_us h1 {
    text-align: left;
  }
  #about_us #consultationBtn {
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 980px) {
  #figure_img {
    padding-top: 0;
  }
  #about_us #consultationBtn {
    display: inline-block;
  }
  #about_us {
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  #about_us:first-child {
    max-width: 100%;
  }
  #about_us p,
  #about_us h1 {
    text-align: left;
  }

  #about_us figure {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 980px) {
  #about_us {
    gap: 50px;
  }
}
@media screen and (min-width: 1076px) {
  #about_us {
    gap: 175px;
  }
}

/* logos  */

#logos {
  padding: 40px 0;
}

#logos ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}

#logos img {
  width: 115px;
}

@media screen and (min-width: 754px) {
  #logos ul {
    justify-content: space-between;
    gap: 20px;
  }
  #logos img {
    width: fit-content;
  }
}

/* service  */

#services {
  padding: 70px 0;
}

.service-head {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 60px;
}

.service-head h2 {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: var(--GREEN);
  padding: 0 7px;
  border-radius: 5px;
}
.service-head br {
  display: none;
}

.service-head p {
  font-size: 18px;
  text-align: center;
  max-width: 620px;
}

.services-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  flex-wrap: wrap;
  gap: 40px;
}
.service-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 50px;
  border-radius: 45px;
  box-shadow: 0px 5px 0px 0px #191a23;
  border: 1px solid var(--DARK);
}
.service-card:hover {
  transform: scale(1.02);
  transition: transform 0.5s;
}

.service-card:hover .right-part img {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.service-card h3 {
  font-size: 25px;
  font-weight: 500;
  padding: 2px 8px;
  border-radius: 10px;
  width: fit-content;
}

.service-card .left-part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.service-card .right-part {
  display: flex;
  align-items: end;
  gap: 40px;
  padding-top: 20px;
}
.right-part img {
  max-width: 180px;
}

.service-card .small_learn_more_btn {
  height: fit-content;
  border: none;
  background-color: transparent;
}

.service-card .learn_more_btn {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 20px;
  display: none;
}

/* web search id  */
.service-card#web-search,
#email_marking {
  background: var(--GRAY);
}
.service-card#web-search h3 {
  background-color: var(--GREEN);
}

/* advertising id  */
.service-card#advertising,
#content_creation {
  background-color: var(--GREEN);
}
.service-card#advertising h3 {
  background-color: white;
}

/* social marking id  */
.service-card#social_marking {
  background-color: var(--DARK);
}
.service-card#social_marking h3 {
  background-color: white;
}
.service-card#social_marking .learn_more_btn,
#analytics .learn_more_btn {
  color: white;
}
/* social marking id  */
.service-card#email_marking h3 {
  background-color: var(--GREEN);
}
/* content creation  */
.service-card#content_creation h3 {
  background-color: white;
}
/* analytic and tracking   */
.service-card#analytics h3 {
  background-color: var(--GREEN);
}
.service-card#analytics {
  background-color: var(--DARK);
}

@media screen and (min-width: 754px) {
  .service-card h3 {
    font-size: 30px;
  }
  .service-head {
    flex-direction: row;
  }
  .service-head p {
    text-align: left;
    max-width: fit-content;
  }
  .service-head br {
    display: block;
  }
}

@media screen and (min-width: 530px) and (max-width: 786px) {
  .service-card {
    flex-direction: row;
  }
  .small_learn_more_btn {
    display: none;
  }
  .service-card .learn_more_btn {
    display: flex;
  }

  .service-card .right-part {
    display: block;
    padding-top: 0;
  }
  .right-part img {
    max-width: fit-content;
  }
}

@media screen and (min-width: 786px) {
  .services-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1156px) {
  .service-card {
    flex-direction: row;
  }
  .small_learn_more_btn {
    display: none;
  }
  .service-card .learn_more_btn {
    display: flex;
  }

  .service-card .right-part {
    display: block;
    padding-top: 0;
  }
  .right-part img {
    max-width: fit-content;
  }
}

/* things happee  */
#things {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background-color: var(--GRAY);
  border-radius: 45px;
  padding: 60px;
  position: relative;
  margin: 70px auto;
  align-items: center;
}

#things #things_img {
  display: none;
}

#things h3 {
  color: #000;
  font-size: 30px;
  font-weight: 500;
}
#things p {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  padding: 26px 0;
}
@media screen and (min-width: 836px) {
  #things {
    grid-template-columns: repeat(2, 1fr);
  }
  #things #things_img {
    display: block;
    direction: rtl;
    padding-right: 30px;
  }

  #things_img img {
    max-width: 200px;
    text-align: right;
    transform: scale(2.2);
  }
}

/* case studies  */
#case_studies {
  padding: 60px 0;
}

#case_studies .studies-body {
  padding: 35px;
  background-color: var(--DARK);
  color: white;
  border-radius: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.studies-body .study-card:first-child {
  padding-bottom: 40px;
  border-bottom: 1px solid white;
}
.studies-body .study-card:nth-child(2) {
  padding: 40px 0px;
  border-bottom: 1px solid white;
}
.studies-body .study-card:nth-child(3) {
  padding-top: 40px;
}

.study-card p {
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 300px;
}

.study-card .study_btn {
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  color: var(--GREEN);
  font-size: 18px;
}

@media screen and (min-width: 620px) {
  #case_studies .studies-body {
    padding: 50px;
  }
}

@media screen and (min-width: 880px) {
  #case_studies .studies-body {
    flex-direction: row;
    padding: 60px;
  }
  .studies-body .study-card:first-child {
    padding-right: 64px;
    padding-bottom: 0;
    border-bottom: 0;
    border-right: 1px solid white;
  }
  .studies-body .study-card:nth-child(2) {
    padding: 0 64px;
    border-right: 1px solid white;
    border-bottom: 0;
  }
  .studies-body .study-card:nth-child(3) {
    padding-top: 0;
    padding-left: 64px;
  }
  .study-card p {
    font-size: 18px;
  }
  .study-card .study_btn {
    font-size: 20px;
  }
}

/* working cards  */

#working_process {
  padding: 60px 0;
}

.working-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.working-card {
  padding: 0 30px;
  border-radius: 25px;
  border: 1px solid #191a23;
  box-shadow: 0px 5px 0px 0px #191a23;
}
.working-card:hover {
  background-color: var(--GREEN);
}
.working-card .work-title {
  display: flex;
  gap: 25px;
  align-items: center;
}

/* accordion  */
.inactive {
  display: none;
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  cursor: pointer;
}
.accordion button {
  border: 1.5px solid black;
  background-color: white;
  font-size: 35px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  line-height: 35px;
}

.accordion h2 {
  font-size: 30px;
  font-weight: 500;
}
.accordion h3 {
  font-size: 18px;
  font-weight: 500;
}

.accordion-body p {
  font-size: 16px;
}

.accordion-body {
  padding: 30px 0;
  border-top: 2px solid black;
  /* display: none; */
}

@media screen and (min-width: 620px) {
  .working-card {
    padding: 0 40px;
    border-radius: 35px;
  }
  .accordion-title {
    padding: 40px 0;
  }
  .accordion-body {
    padding: 40px 0;
  }

  .accordion h2 {
    font-size: 40px;
  }
  .accordion h3 {
    font-size: 25px;
  }
  .accordion-body p {
    font-size: 18px;
  }
}

@media screen and (min-width: 800px) {
  .working-card {
    padding: 0 60px;
    border-radius: 45px;
  }
  .accordion-title {
    padding: 50px 0;
  }
  .accordion-body {
    padding: 50px 0;
  }
  .accordion h2 {
    font-size: 50px;
  }
  .accordion h3 {
    font-size: 30px;
  }
}

/* team  */
#team {
  padding: 60px 0 100px;
}
.team-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
  flex-wrap: wrap;
}

@media screen and (min-width: 680px) {
  .team-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .team-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

.team-card {
  border-radius: 45px;
  border: 1px solid #191a23;
  background: #fff;
  box-shadow: 0px 5px 0px 0px #191a23;
  padding: 40px 35px;
  /* max-width: 380px; */
}
.team-card:hover {
  box-shadow: 0px 5px 0px 0px var(--GREEN);
  border-color: var(--GREEN);
  transition: transform 0.5s;
}

.team-card:hover figure {
  transform: scale(1.2);
  transition: transform 0.5s;
}

.team-card .card-header {
  display: flex;
  gap: 15px;
  align-items: end;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  position: relative;
}

.team-card .card-header .card-img {
  /* height: 108px; */
  position: absolute;
  top: 0;
  right: 0;
}

.team-card h2 {
  font-size: 20px;
  font-weight: 500;
}
.team-card h3 {
  font-size: 16px;
  font-weight: 400;
}

.team-card p {
  padding-top: 20px;
}

#team .all-members {
  display: flex;
  justify-content: end;
  align-items: end;
  padding-top: 30px;
}

/* Testimonial  */

#testimonial {
  padding: 40px 0;
}

.testimonial-block {
  border-radius: 35px;
  background: var(--DARK);
  padding: 60px 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.testimonial p {
  border: 1px solid var(--GREEN);
  padding: 25px 35px;
  border-radius: 35px;
  position: relative;
  z-index: 100;
}

.testimonial .user {
  padding: 35px 45px 0;
}

.testimonial:first-child {
  padding-bottom: 30px;
}

.testimonial .user h2 {
  font-size: 16px;
  font-weight: 400;
  color: var(--GREEN);
}
.testimonial .user h3 {
  font-size: 16px;
  font-weight: 400;
}

.testimonial p::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -21px;
  transform: rotate(45deg);
  z-index: -10;
  height: 40px;
  width: 40px;
  border-bottom: 1px solid var(--GREEN);
  border-right: 1px solid var(--GREEN);
  border-radius: 0 0 5px 0;
  background-color: var(--DARK);
}

@media screen and (min-width: 620px) {
  .testimonial-block {
    padding: 80px 26px;
  }
  .testimonial .user h2 {
    font-size: 18px;
  }
  .testimonial .user h3 {
    font-size: 18px;
  }
  .testimonial p {
    padding: 40px 45px;
  }
}

@media screen and (min-width: 880px) {
  .testimonial-block {
    border-radius: 45px;
    padding: 90px 26px;
    flex-direction: row;
  }
  .testimonial p {
    border-radius: 45px;
    padding: 48px 52px;
  }
  .testimonial .user {
    padding: 48px 52px 0;
  }
  .testimonial:first-child {
    padding-bottom: 0;
  }
  .testimonial .user h2 {
    font-size: 20px;
  }
  .testimonial .user h3 {
    font-size: 20px;
  }
}

/* contact  */
#contact {
  padding: 90px 0 50px 0;
}

.contact-information {
  background-color: var(--GRAY);
  padding: 30px;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  align-items: center;
}

.contact-form .radio-btns {
  display: flex;
  padding-bottom: 20px;
  gap: 40px;
  width: 100%;
  margin: auto;
}

.contact-form .form label {
  display: block;
  padding-bottom: 6px;
}
.contact-form .form div {
  padding: 10px 0;
  width: 100%;
  margin: auto;
}
.contact-form .form input,
textarea {
  width: 100%;
  margin: auto;
  padding: 10px 12px;
  border: 1px solid black;
  border-radius: 8px;
}
.contact-form .form input:focus,
textarea:focus {
  outline: none;
}

.contact-information .contact-form {
  grid-column: span 3;
  margin: auto;
  width: 100%;
}

.contact-photo {
  display: none;
}

@media screen and (min-width: 620px) {
  .contact-information {
    padding: 60px;
    border-radius: 45px;
  }
}

@media screen and (min-width: 620px) {
  .contact-form .radio-btns {
    width: 70%;
  }
  .contact-form .form div {
    width: 70%;
  }
}

@media screen and (min-width: 756px) {
  .contact-information {
    padding: 60px 0 60px 100px;
  }
  .contact-form .radio-btns {
    width: 70%;
    margin: 0;
  }
  .contact-form .form div {
    padding: 10px 0;
    width: 70%;
    margin: 0;
  }
  .contact-information .contact-form {
    grid-column: span 2;
  }

  .contact-photo {
    height: 100%;
    display: block;
  }
  .contact-photo figure {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
  }

  .contact-photo img {
    width: 100%;
    border-radius: 45px;
    max-width: 320px;
  }
}

/* footer  */

#footer {
  background-color: var(--DARK);
  color: white;
  padding: 50px 60px;
  border-radius: 45px 45px 0 0;
}
footer .footer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.footer-links ul li a {
  text-decoration: underline;
}

footer .footer-links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  flex-direction: column;
}

.footer-contact-links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.footer-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding-top: 66px;
  padding-bottom: 50px;
  flex-direction: column;
  text-align: center;
}

.footer-contact .contact-form {
  border-radius: 14px;
  background: #292a32;
  padding: 30px 30px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.footer-copyright {
  padding-top: 50px;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-contact .contact-info button {
  font-size: 20px;
  font-weight: 500;
  border-radius: 7px;
  background: var(--GREEN, #b9ff66);
  border: none;
  padding: 2px 8px;
}
.footer-contact .contact-info p {
  font-size: 18px;
  margin: 20px 0;
}

.footer-contact .contact-form input {
  width: 100%;
  border-radius: 14px;
  padding: 18px 25px;
  font-size: 20px;
  border: none;
}
.contact-form input:focus {
  outline: none;
}
.footer-contact .contact-form input[type="button"] {
  background: var(--GREEN, #b9ff66);
  cursor: pointer;
}

@media screen and (min-width: 530px) {
  footer .footer-links ul {
    flex-direction: row;
  }
  .footer-copyright {
    flex-direction: row;
    gap: 40px;
  }
}
@media screen and (min-width: 640px) {
  .footer-contact .contact-form {
    flex-direction: row;
    padding: 58px 40px;
  }
  .footer-copyright {
    justify-content: start;
  }
}

@media screen and (min-width: 945px) {
  footer .footer-header {
    flex-direction: row;
  }
  .footer-contact {
    flex-direction: row;
    text-align: left;
  }
}
